.header{
    height: 90px;
    width: 100%;
    background-color: white;
    /* background-image: url('../../../public/images/Layout/Header/motel-manager.png');  */
    display: flex;
    min-width: 300px;
}

.logo-image{
    height: 90px;
}

.left-header{
    flex: 2;
    margin-left: 40px; 
    height: inherit;
    min-width: 175px;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.center-header{
    height: inherit;
    flex: 3;
    display: flex;
    justify-content:left;
    align-items: center;
}

.nav-header{

    height: 60px;

    display: flex;
    justify-content:center;
    align-items: center;
}

.nav-item{
    height: inherit;
    margin: 1px;
    padding: 10px 10px 15px;
    color: gray;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
}

.nav-item.in-page, .nav-item:hover{
    color: black;
    border-top: 3px solid rgb(78, 158, 232);
    border-bottom: 3px solid rgb(78, 158, 232);
}

.nav-menu{
    display: none;
}

.nav-menu-icon{
    width: 20px;
    border: 3px solid rgb(78, 158, 232);
    padding: 5px;
    margin-right: 20px;
    box-sizing: content-box;
}

.nav-menu-icon:hover{
    border: 3px solid rgb(134, 189, 241);
    padding: 5px;
    box-sizing: content-box;
}


.nav-vertical{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 232, 249);
    padding: 40px 0px;
    z-index: 9999;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.nav-vertical-item{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2em;
    padding: 5px;
    border-top: 3px solid rgba(78, 158, 232, 0);
    border-bottom: 3px solid rgba(78, 158, 232, 0);
}

.nav-vertical-item.in-page,.nav-vertical-item:hover{
    color: black;
    border-top: 3px solid rgb(78, 158, 232);
    border-bottom: 3px solid rgb(78, 158, 232);
}

.nav-vertical-quit-icon{
    width: 35px;
    position: absolute;
    right: 0;
    top: 0;
}

.right-header{
    height: inherit;
    flex: 3;

    display: flex;
    align-items: center;
    justify-content: right;
}

.right-header .hotline{
    font-weight: bold;
}
    





/* Mobile */
@media (max-width: 700px) {
    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    .left-header{
        flex: 4;
    }

    .center-header{
        flex: 1;
        justify-content: right;
    }

    .right-header{
        flex: 1 0 auto;
        width: 100%;
    }

    .logo-image{
        margin-left: 60px;
        height: 80px;
    }
   
    .nav-header{
        display: none;
    }

    .nav-menu{
        display: flex;

    }

    .right-header{
        justify-content: center;
        flex-direction: column;
    }

    .change .nav-vertical{
        left: 50%;
        transition: all 0.6s;
    }



}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .center-header{
        justify-content: center;
    }
    .right-header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
}

